body {
  background-image: url(/image/s_space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  position: static;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

#container h1 {
  padding: 500px 0;
  text-align: center;
}

/* work */
#work {
  padding: 20px 0;
}
.long {
  background-color: rgba(32, 36, 47, 0.6);
  padding: 40px 70px;
}
.long-list > li {
  display: flex;
  margin-bottom: 40px;
}
.long-list > li:last-child {
  margin-bottom: 0;
}
.long-thumbnail {
  width: 480px;
}
.long-thumbnail > img {
  width: 100%;
}
.long-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 20px 35px 60px;
  flex-grow: 1;
}
.long-detail > h5 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 30px;
}
.long-detail > ul > li {
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.long-detail > ul > il > strong {
  font-weight: bold;
}
.long-detail .long-btns {
  display: flex;
}
.long-detail .long-btns > a {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  line-height: 38px;
  border: 1px solid #516768;
  padding: 0px 25px;
  border-radius: 32px;
  font-style: italic;
}
.long-detail .long-btns > a:first-child {
  margin-right: 20px;
}
.long-detail .long-btns > a:hover,
.long-detail .long-btns > a:focus {
  background-color: #fff;
  color: #333;
}

/* skill */
#skill {
  margin: 40px auto;
  background-color: rgba(32, 36, 47, 0.6);
  padding: 20px 20px;
}
#skill > ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* 이미지를 감싸는 박스 */
.skill-img {
  width: 60px;
  height: 60px;
  /* 가운데 정렬을 위한 코드 */
  margin: 0 auto;
}
/* 이미지 */
.skill-img img {
  width: 100%;
}
#skill ul li h4 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 10px;
}

/* 텍스트 */
.section-title {
  font-size: 3rem;
  font-weight: 800;
}

/* 프로필 */
.about-inner {
  background-color: rgba(32, 36, 47, 0.6);
  width: 1200px;
  height: 600px;
  padding: 20px 0;
}

.ab-img-wrap {
  display: flex;
  width: 150px;
  height: 200px;
  border-radius: 30px;
}

.ab-text-wrap {
  width: 120px;
  height: 90px;
  padding: 0px 0px 110px 20px;
}

.ab-text-wrap-1 {
  width: 161px;
  height: 92px;
  padding: 238px 129px 0px 0px;
}

.ab-text-wrap-2 {
  width: 287px;
  height: 92px;
  padding: 0px 113px 120px 0px;
}

.ab-text-wrap-3 {
  width: px;
  height: px;
  padding: px px px px;
}

.ab-text-wrap-4 {
  width: px;
  height: px;
  padding: px px px px;
}

.ab-text-wrap-5 {
  width: px;
  height: px;
  padding: px px px px;
}

.ab-text-wrap > h4 {
  font-size: 3.2rem;
  font-weight: bold;
}

.ab-text-wrap > h5 {
  font-size: 1.8rem;
  font-weight: bold;
}

.ab-text-wrap > ul > li {
  font-size: 1.5rem;
  line-height: 3rem;
}
