body {
  background-image: url(/image/s_space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 변수 정의 */
:root {
  --space-50: 50px;
  --space-40: 40px;
  --space-30: 30px;
  --space-20: 20px;
}
/* 변수 사용 예시
margint-top: var(--space-big);
*/

#content-work-top {
  background-size: cover;
  background-position: right 0 bottom -300px;
}

#content-skill-top {
  background-size: cover;
  background-position: right 0 bottom -300px;
}

#content-pro-top {
  background-size: cover;
  background-position: right 0 bottom -600px;
}

header {
  position: static;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

#container h1 {
  padding: 500px 0;
  text-align: center;
}

/* work */
#work {
  padding: 20px 0;
}
.long {
  background-color: rgba(32, 36, 47, 0.6);
  padding: 40px 70px;
}
.long-list > li {
  display: flex;
  margin-bottom: 40px;
}
.long-list > li:last-child {
  margin-bottom: 0;
}
.long-thumbnail {
  width: 480px;
}
.long-thumbnail img {
  width: 100%;
}
.long-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  flex-grow: 1;
}
.long-detail > h5 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 30px;
}
.long-detail > ul > li {
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.long-detail > ul > il > strong {
  font-weight: bold;
}
.long-detail .long-btns {
  display: flex;
  margin-top: 20px;
}
.long-detail .long-btns > a {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  line-height: 38px;
  border: 1px solid #516768;
  padding: 0px 25px;
  border-radius: 32px;
  font-style: italic;
}
.long-detail .long-btns > a:first-child {
  margin-right: 20px;
}
.long-detail .long-btns > a:hover,
.long-detail .long-btns > a:focus {
  background-color: #fff;
  color: #333;
}
/* 라이트 박스 */
#work .long .long-light-box {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 검은색 80% 반투명 */
  z-index: 9999; /* 다른 요소보다 위에 표시 */
  cursor: pointer; /* 바깥쪽 클릭 가능함을 암시 */
}

/* 중앙 정렬을 위한 내부 wrap */
#work .long .iframe_wrap {
  position: absolute;
  width: 58%;
  height: 68%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default; /* 영상 근처에서는 기본 커서 */
  background-color: aqua;
}

#work1 {
  width: 100%; /* 원하는 너비 (예: 화면의 80%) */
  max-width: 1120px; /* 너무 커지는 걸 방지 (2배 크기 제한) */
  aspect-ratio: 16 / 9; /* 16:9 비율 고정 */
  height: auto; /* 높이는 비율에 맞춰 자동 계산 */
  margin: 0 auto;
}

/* skill */
#skill {
  margin: var(--space-20) auto;
  background-color: rgba(32, 36, 47, 0.6);
  padding: var(--space-20) var(--space-20) var(--space-50) var(--space-20);
}

.skill-section-top {
  text-align: center;
}

.skill-section-middle {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.skill-section-bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.bottom-line {
  padding-bottom: var(--space-50);
  border-bottom: 1px solid #fff;
  margin-bottom: var(--space-50);
}

.section-title {
  margin-bottom: var(--space-50);
}

.skill-section-middle .skill-section-inner:first-child .skill-section-block {
  justify-content: flex-start;
  gap: 4px;
}

/* 스킬 리스트 */
.skill-section-block {
  display: flex;
  flex: 1;
  /* gap: 10px; */
  justify-content: space-between;
}

.skill-section-block li {
  /* flex: 1; */
  width: 190px;
}

/* 이미지를 감싸는 박스 */
.skill-img {
  width: 60px;
  height: 60px;
  /* 가운데 정렬을 위한 코드 */
  margin: 0 auto;
  margin-bottom: var(--space-20);
}
/* 이미지 */
.skill-img img {
  width: 100%;
}

#skill ul li h4 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 10px;
}

/* 텍스트 */
.section-title {
  font-size: 2.4rem;
  font-weight: 800;
}

.skill-section-block li {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 150%;
}

/* 프로필 */
#profile {
  background-color: rgba(32, 36, 47, 0.6);
  display: flex;
  flex-grow: 1;
  margin-top: var(--space-20);
}
.about-left {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  padding: 50px 0 50px 50px;
}
.about-left-top {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  gap: 10px;
}
.about-left-bottom {
  display: flex;
}
.about-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 70px;
  padding: 50px 50px 50px 50px;
}
.about-right-top {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.about-right-bottom {
  display: flex;
  justify-content: space-between;
}
.ab-img-wrap {
  display: flex;
  width: 150px;
  height: 200px;
  border-radius: 30px;
  /* 넘치는 부분을 숨기기 */
  overflow: hidden;
}

.about-right .about-right-top .ab-text-wrap:last-child {
  width: 389.78px;
}

.ab-text-wrap > h4 {
  font-size: 3.2rem;
  font-weight: bold;
}

.ab-text-wrap > h5 {
  font-size: 1.8rem;
  font-weight: bold;
}

.ab-text-wrap > ul > li {
  font-size: 1.5srem;
  font-weight: 200;
  line-height: 3rem;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .long-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: fit-content;
  }
  .long-thumbnail img {
    width: 100%;
  }
  .long-list > li {
    display: block;
  }
  .long-list .long-detail {
    width: 100%;
  }
  .long-detail {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 60px;
  }
} /* tablet End */

/* mobile */
@media screen and (max-width: 767px) {
  .long {
    background: none;
    padding: 20px;
  }
  .long-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: fit-content;
  }
  .long-thumbnail {
    width: 100%;
  }
  .long-thumbnail img {
    width: 100%;
  }
  .long-list > li {
    display: block;
  }
  .long-list .long-detail {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .long-detail {
    padding-left: 0;
    margin-bottom: 50px;
    padding: 10px;
    /* padding-top: 30px;
    padding-bottom: 60px; */
  }
} /* mobile End */
