body {
  background-image: url(/image/s_space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#content-pro-top {
  background-size: cover;
  background-position: right 0 bottom -600px;
  color: #fff;
}

header {
  position: static;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

#container h1 {
  padding: 500px 0;
  text-align: center;
}

/* work */
#work {
  padding: 20px 0;
}
.long {
  background-color: rgba(32, 36, 47, 0.6);
  padding: 40px 70px;
}
.long-list > li {
  display: flex;
  margin-bottom: 40px;
}
.long-list > li:last-child {
  margin-bottom: 0;
}
.long-thumbnail {
  width: 480px;
}
.long-thumbnail > img {
  width: 100%;
}
.long-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  flex-grow: 1;
}
.long-detail > h5 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 30px;
}
.long-detail > ul > li {
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.long-detail > ul > il > strong {
  font-weight: bold;
}
.long-detail .long-btns {
  display: flex;
  margin-top: 20px;
}
.long-detail .long-btns > a {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  line-height: 38px;
  border: 1px solid #516768;
  padding: 0px 25px;
  border-radius: 32px;
  font-style: italic;
}
.long-detail .long-btns > a:first-child {
  margin-right: 20px;
}
.long-detail .long-btns > a:hover,
.long-detail .long-btns > a:focus {
  background-color: #fff;
  color: #333;
}

/* skill */
#skill {
  margin: 40px auto;
  background-color: rgba(32, 36, 47, 0.6);
  padding: 20px 20px;
}

.skill-section-top {
  display: contents;
  flex: 1;
  text-align: center;
  background-color: white;
}
.skill-section-block {
  display: contents;
  flex: 1;
  justify-content: space-between;
  background-color: aqua;
}
.skill-section-block {
  display: contents;
  flex: 1;
  justify-content: space-between;
  background-color: skyblue;
}

.skill-section-left > ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: yellow;
}
.skill-section-right > ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: palevioletred;
}

/* 이미지를 감싸는 박스 */
.skill-img {
  width: 60px;
  height: 60px;
  /* 가운데 정렬을 위한 코드 */
  margin: 0 auto;
}
/* 이미지 */
.skill-img img {
  width: 100%;
}
#skill ul li h4 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 10px;
}

/* 텍스트 */
.section-title {
  font-size: 3rem;
  font-weight: 800;
}

/* 프로필 */
#profile {
  background-color: rgba(32, 36, 47, 0.6);
  display: flex;
  flex-grow: 1;
  margin-top: 20px;
}
.about-left {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  padding: 50px 0 50px 50px;
}
.about-left-top {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  gap: 10px;
}
.about-left-bottom {
  display: flex;
}
.about-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 70px;
  padding: 50px 50px 50px 50px;
}
.about-right-top {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.about-right-bottom {
  display: flex;
  justify-content: space-between;
}
.ab-img-wrap {
  display: flex;
  width: 150px;
  height: 200px;
  border-radius: 30px;
  /* 넘치는 부분을 숨기기 */
  overflow: hidden;
}

.ab-text-wrap > h4 {
  font-size: 3.2rem;
  font-weight: bold;
}

.ab-text-wrap > h5 {
  font-size: 1.8rem;
  font-weight: bold;
}

.ab-text-wrap > ul > li {
  font-size: 1.5rem;
  line-height: 3rem;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .long-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: fit-content;
  }
  .long-thumbnail img {
    width: 100%;
  }
  .long-list > li {
    display: block;
  }
  .long-list .long-detail {
    width: 100%;
  }
  .long-detail {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 60px;
  }
} /* tablet End */

/* mobile */
@media screen and (max-width: 767px) {
  .long {
    background: none;
    padding: 20px;
  }
  .long-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: fit-content;
  }
  .long-thumbnail {
    width: 100%;
  }
  .long-thumbnail img {
    width: 100%;
  }
  .long-list > li {
    display: block;
  }
  .long-list .long-detail {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .long-detail {
    padding-left: 0;
    margin-bottom: 50px;
    padding: 10px;
    /* padding-top: 30px;
    padding-bottom: 60px; */
  }
} /* mobile End */
